body {
    background-color: #ffffff;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

body, h1, h2, h3, h4, h5, h6, div, p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

header {
    background-color: rgba( 0, 0, 0, 0.8 );
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fefefe;
    font-size: 18px;
    font-weight: 800;
    left: 50%;
    letter-spacing: 1px;
    padding: 12px 20px;
    position: fixed;
    text-align: center;
    top: 0;
    transform: translateX( -50% );
    width: auto;
    z-index: 1050;
}
header a {
    color: #b084f5;
    font-size: 18px;
    font-weight: 800;
    margin: 0 5px;
}

footer {
    background-color: rgba( 0, 0, 0, 0.8 );
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    bottom: 0;
    color: #fefefe;
    font-size: 18px;
    font-weight: 800;
    left: 50%;
    letter-spacing: 1px;
    padding: 12px 20px;
    position: fixed;
    text-align: center;
    transform: translateX( -50% );
    width: auto;
    z-index: 1050;
}
footer a {
    color: #b084f5;
}


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

main * {
    text-align: center;
}